<!doctype html>
<html lang="fr" ng-app="AngularJsApp">
  <head>
    <title>Lunch Checker</title>
    <link rel="stylesheet" href="libs/bootstrap.min.css">
    <script src="libs/angular.min.js"></script>
    <script src="app.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
      .msg-info {color:green}
      .msg-warning {color:red}
    </style>
  </head>
<body>
   <div class="container" ng-controller="FoodEatingController">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control"
             ng-model="listFoods"
             >
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="checkingStates();">Check If Too Much</button>
         </div>
         <div class="form-group message" ng-class="{'msg-warning':state.warning,'msg-info':!state.warning}">
           {{state.state}}
         </div>
   </div>

</body>
</html>
